body {
    margin: 0;
    font-family: Arial, sans-serif;

}

*{
    box-sizing: border-box;
}

/* ----- HEADER ----- */
header {
    display: flex; /* Use flexbox to arrange logo, nav, and social icons */
    justify-content: space-between; /* Push content to the left and right edges */
    align-items: center; /* Vertically align items */
    padding: 10px 20px;
    background-color: #acabac; /* light background color */
    color: rgb(12, 12, 12);
}
/* Logo text */

/* Navigation Menu */
nav ul {
    display: flex; /* Arrange links in a row */
    list-style: none; /* Remove bullet points */
    margin-right: 360px;
    padding: 0;
}

nav ul li {
    margin: 0 10px; /* Space between links */
    font-size: small; /* font size of links */
}

nav ul li a {
    color: rgb(10, 10, 10);
    text-decoration: none; /* Remove underline */
    font-weight: bolder;
}

nav ul li a:hover {
    text-decoration: underline; /* Add underline on hover */
}

/* Social media icons */
.social {
    display: flex; /* Place icons side by side */
    gap: 10px; /* Space between icons */
}

.social img {
    width: 20px;
    height: 20px;
}
/* logo image */
.logo img {
    width: 10%;
    background-color: #acabac;
}


.details nav ul li {
    margin: 0 20px;
    font-size: large;
    display: flex;
}

.banner img {
    width: 99.9%;
}

/* MAIN */

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: large;
    background-color: rgb(245, 239, 239);
}

.main h1 {
    margin-top: 50px;
    color: rgb(45, 45, 97);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about {
    box-shadow: 10px 10px 25px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin: 50px 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: white;
    
}

.team  {
    text-align: center;
    box-shadow: 4px 4px 20px  rgba(0,0,0,0.1);
    border-radius: 10px;
    margin: 50px 20px;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 20px;
    padding-bottom: 40px;
    font: bolder;
    background-color: white;
}

.reasons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 20px;
}

.heading {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: larger;
}

.choosen {
    margin-top: 40px;
    padding-bottom: 100px;
    border-radius: 60px;
    margin-left: 70px;
    margin-right: 70px;
    background-color: #ebe5eb;
    box-shadow: 4px 4px 20px  rgba(0,0,0,0.1);
}

.services {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
    box-shadow: 2px 2px 15px;
    border-radius: 30px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgb(235, 234, 227);
}
.services img {
    margin-top: 2%;
    margin-left: 20%;
}

.services h2{
    padding-top: 2%;

}


.button {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  background-color: white; 
  color: black; 
  border: 4px solid rgb(97, 89, 89);
  margin-left: 45%;
  margin-top: 3%;
  margin-bottom: 2%;
  font-size: larger;
  border-radius: 20px;
  background-color: #acabac;
  color: rgb(102, 68, 68);
  font-weight: bold;
}



/* ----- FOOTER ----- */
footer {
    text-align: center;
    padding: 25px;
    background-color: #acabac;
    color: rgb(12, 12, 12);
    margin-top: 20px;
    text-align: right;
}